<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="false" name="Suite">
  <test name="Test">
  <groups>
      <run>
          <include name = "run"/>
          <exclude name = "walk"/> 
      </run>
  </groups>
    <classes>
       <class name="testng.GroupingClass"/>   
       <class name="testng.EnableDisableClass">
          <methods>
             <include name = "testcase1"/>
             <include name = "testcase3"/>
          </methods>   
        </class>
         
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->  

